div .outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#map-controls {
  background-color: white;
  padding: 20px 30px;
  opacity: 0.7;
}

#map-controls:hover {
  opacity: 0.95;
}